.title {
  font-size: 45px;
  font-weight: bold;
  padding-top: 5%;
  font-family: "Libre Baskerville";
}

.subtitle {
  font-size: 30px;
  padding-bottom: 40px;
  font-weight: normal;
  font-family: "Gill Sans";
}

.body {
  line-height: 1.4rem;
  margin-bottom: 3%;
}

.author {
  padding-top: 20px;
  font-family: "Gill Sans";
}
