.title {
  font-size: 45px;
  font-weight: bold;
  padding-top: 5%;
}

.subtitle {
  font-size: 30px;
  padding-bottom: 40px;
}

.body {
  line-height: 1.4rem;
  margin-bottom: 3%;
}

.author {
  padding-top: 20px;
  font-weight: bold;
}
