.App {
  margin-top: 20px;
}

.App-logo {
  height: 15vmin;
  min-width: 70px;
  margin-left: 15px;
  margin-right: 15px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  position: sticky;
  position: -webkit-sticky;
  top: -1px; /* required */
}

.divided {
  display: flex;
  align-items: center;
  margin-left: -55vw;
}

.divider {
  flex-grow: 1;
  border-bottom: 2px solid black;
}

.nav-divider {
  flex-grow: 1;
  border-bottom: 1px solid black;
}

.App-link {
  color: #61dafb;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 10%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow: auto; /* Disable horizontal scroll */
}

.sidenav a {
  padding: 20px 10% 20px 17%;
  text-decoration: none;
  font-size: 13px;
  color: #000;
  display: block;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.footer-container {
  height: 100px;
  background-color: rgb(240, 240, 240);
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.footer{
  padding-left: 15%;
  padding-bottom: 50px;
  padding-top: 15px;
}
